@font-face {
    font-family: poppinsmedium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppinsregular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinslight;
    src: url(../fonts/Poppins-Light.ttf);
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: poppinslight, sans-serif;
  /*color: rgb(255, 225, 91);*/
  color: white;
  /*white-space: pre-wrap;*/
}
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, li::selection, img::selection {
  background-color: rgba(255, 225, 91, 0.5);
}
footer *::selection {
  background-color: rgba(53, 54, 73, 0.2);
}
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}
h1 {
  font-size: 2em;
  line-height: 1em;
}
h2 {
  font-size: 1.1em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: lighter;
}
h3 {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
a {
  color: currentColor;
  text-decoration: none;
}

#App {
  background-color: rgb(53, 54, 73); /* TODO: Denser color */
  margin: auto;
  /*width: 70%;*/
  max-width: 1000px;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
}
dialog {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  padding: 0 0 0 80px;
  /*display: none;*/
}
dialog i {
  cursor: pointer;
  position: absolute;
    right: 10px;
    top: 10px;
  /*border: 1px solid white;
  border-radius: 50%;
  padding: 3px;*/
}
dialog > div {
  background-color: #6d645f;
  margin: auto;
  max-width: 500px;
  width: 90%;
  max-height: 500px;
  height: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*padding-bottom: 30px;*/
}
dialog > div > div:first-child {
  position: relative;
  padding: 20px 20px 0;
  text-align: justify;
}
.DialogImgRow {
  margin: 30px 0;
  display: flex;
}
.DialogImgRow img {
  width: 50%;
  max-height: 150px;
  object-fit: cover;
}

#Header {
  padding: 30px 10%;
  display: flex;
  flex-flow: row nowrap;
}
#Header img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
#Header > div {
  margin: auto 20px;
}
.Drawer {
  border-top: 5px solid rgb(255, 225, 91);
  /*border-bottom: 2px solid rgb(255, 225, 91);*/
}
.Drawer i {
  margin: 0 10px;
  /*color: white;*/
}
#About {
  padding: 30px 10%;
}
#Portfolio {
  margin: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#Portfolio > div {
  margin: 0 5px 10px;
  width: 280px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
}
#Portfolio > div:hover .layer {
  z-index: -1;
}
.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  content: " ";
  z-index: 0;
}
/*.layer:hover {
  z-index: -1;
}*/
#Portfolio img {
  height: 157px;
  width: 280px;
  object-fit: cover;
  border-bottom: 5px solid rgb(255, 225, 91);
  cursor: pointer;
}
#Portfolio i {
  color: rgb(255, 225, 91);
  /*background-color: rgba(255, 255, 255, 0.3);*/
  /*padding: calc((162px - 64px)/2) calc((280px - 22px)/2);*/
  position: absolute;
    top: calc(162px/2 - 64px/2);
    left: calc(280px/2 - 22.86px/2);
    /*top: 0;
    left: -10px;*/
  cursor: pointer;
}
/*#Portfolio i:hover {
  background: none;
}*/
.caption {
  padding: 0 5px 5px;
}
footer {
  /*position: absolute;
    bottom: 0;*/
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer > div {
  background-color: rgb(255, 225, 91);
  color: rgb(53, 54, 73);
  text-align: center;
  padding: 10px;
}
.feed:hover {
  color:
}
